* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

body {
     font-family: Arial, sans-serif;
     background: #f4f4f4;
     color: #111;
}

header {
     padding: 30px 8%;
     background: #111;
     color: white;
}

header h1 {
     font-size: 32px;
}

header p {
     margin-top: 8px;
     color: #bbb;
}

.hero {
     padding: 80px 8%;
     background: white;
}

.hero h2 {
     font-size: 48px;
     margin-bottom: 15px;
}

.hero p {
     font-size: 18px;
     color: #666;
     margin-bottom: 30px;
}

#search {
     width: 100%;
     max-width: 500px;
     padding: 16px;
     border: 1px solid #ccc;
     border-radius: 10px;
     font-size: 16px;
}

.cars-section {
     padding: 60px 8%;
}

.cars-section h2 {
     font-size: 32px;
     margin-bottom: 30px;
}

.car-conatiner {
     display: flex;
     gap: 25px;
     flex-wrap: wrap;
}

.car-card {
     background: white;
     width: 300px;
     padding: 20px;
     border-radius: 15px
     box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
     transition: 0.3s;
}

.car-card:hover {
     transform: translateY(-8px);
}

.car-image {
     height: 160px;
     background: #eee;
     border-radius: 12px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 70px;
     margin-bottom: 20px;
}

.car-card h3 {
     font-size: 23px;
     margin-bottom: 8px;
}

.car-card p {
     color: #777;
     margin-bottom: 15px;
}

.specs {
     display: flex;
     gap: 10px;
     margin-bottom: 15px;
}

.specs span {
     background: #eee;
     padding: 7px 10px;
     border-radius: 6px;
     font-size: 13px;
}

.car-card h4 {
     font-size: 20px;
     margin-bottom: 15px;
}

button {
     width: 100%;
     padding: 12px;
     border: none;
     border-radius: 8px;
     background: #111;
     color: white;
     font-size: 15px;
     cursor: pointer;
}

button:hover {
     background: #333;
}

footer {
     padding: 30px;
     text-align: center;
     background: #111;
     color: #aaa;
}













     















